/*
Table of Contents:
    Page Styles
        Fonts
    Animations
    Hero
        Project Previews
        Header
        Responsive
*/

/* Page Styles */

body {
    font-family: "opensans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'opensans-bold', sans-serif;
 }

/* Fonts */
@font-face {
    font-family: "opensans";
    src: url("fonts/opensans/OpenSans-Regular-webfont.eot");
    src: url("fonts/opensans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/opensans/OpenSans-Regular-webfont.woff") format("woff"),
    url("fonts/opensans/OpenSans-Regular-webfont.ttf") format("truetype"),
    url("fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "opensans-bold";
    src: url("fonts/opensans/OpenSans-Bold-webfont.eot");
    src: url("fonts/opensans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/opensans/OpenSans-Bold-webfont.woff") format("woff"),
    url("fonts/opensans/OpenSans-Bold-webfont.ttf") format("truetype"),
    url("fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 2s;
}

@keyframes slide-right {
    0% {
        transform: translatex(-10rem);
    }
    100% {
        transform: translatex(0);
    }
}

.slide-right {
    animation: slide-right 5s;
}

@keyframes slide-left {
    0% {
        transform: translatex(10rem);
    }
    100% {
        transform: translatex(0);
    }
}

.slide-left {
    animation: slide-left 5s;
}

@keyframes fade-up {
    0% {
        transform: translatey(1rem);
        opacity: 0;
    }
    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes hide-thing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Hero */
.hero {

}

/* Project Previews */
.hero-project-previews {
    margin: 3rem 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-project-previews>div:nth-child(odd){
    transform: translatey(-1rem);
}
.hero-project-previews>div:nth-child(even){
    transform: translatey(1rem);
}

.hero-project-preview {
    margin: 0;
    padding: 1rem;
    min-height: 6rem;
    min-width: 10rem;
}

.hero-project-preview-thumbnail {
    height: 100%;
    width: 100%;
    background-image: url(../background.jpg);
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
}

.hero-project-preview-label {

}

/* Header */
.hero-header {
    margin: 0;
    padding: 0;
    line-height: 5rem;
    font-size: 100%;
    text-align: center;
}

/* Responsive */
@media (min-width: 550px) {
    body {
        background-color: red;
    }
    .hero-project-previews {
        animation: unset;
    }
    .hero-project-preview {
        animation: hide-thing ease 5s 0s;
    }
    .hero-project-preview:nth-child(1) {
        animation: fade-up ease-out 0.3s 0.4s;
     }
    .hero-project-preview:nth-child(2) {
        animation: fade-up ease-out 0.3s 0.6s;
    }
    .hero-project-preview:nth-child(3) {
        animation: fade-up ease-out 0.3s 0.8s;
    }
    .hero-project-preview:nth-child(4) {
        animation: fade-up ease-out 0.3s 1s;
    }
    .hero-project-preview:nth-child(5) {
        animation: fade-up ease-out 0.3s 1.2s;
    }
    .hero-project-preview:nth-child(6) {
        animation: fade-up ease-out 0.3s 1.4s;
    }
    .hero-project-preview:nth-child(7) {
        animation: fade-up ease-out 0.3s 1.6s;
    }
    .hero-project-preview:nth-child(8) {
        animation: fade-up ease-out 0.3s 1.8s;
    }
    .hero-project-preview:nth-child(9) {
        animation: fade-up ease-out 0.3s 2s;
    }
    .hero-project-preview:nth-child(10) {
        animation: fade-up ease-out 0.3s 2.2s;
    }
    .hero-project-preview:nth-child(11) {
        animation: fade-up ease-out 0.3s 2.4s;
    }
}